@import "../../../../shared/variable/variable";

.cart{
  width: 82%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;

  @media (max-width: $mobile-width-only) {
    width: 90%;
    flex-direction: column;
    margin-top: 0;
  }
}

.cart__title{
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0;
  color: $black-text;
  width: 262px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.cart__general-info-and-promo{
  display: flex;
  flex-direction: column;
  background-color: $dark-background;
  min-width: 750px;
}

.cart__products-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  margin-top: 21px;
  box-sizing: border-box;
}

.cart__products-info--hidden{
  display: none;
}

.cart__titles-row{
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  padding: 15px 30px 15px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #D9D9D9;

  @media (max-width: $mobile-width-only) {
    padding: 5px 5px 5px 5px;
    display: none;
  }

  p{
    margin: 0;
  }
}

.cart__number-of-pruducts-item{
  width: 39.5%;

  @media (max-width: $mobile-width-only) {
    width: auto;
  }
}

.cart__number-of-pruducts-price{
  width: 17%;

  @media (max-width: $mobile-width-only) {
    width: auto;
  }
}

.cart__number-of-pruducts-number {
  width: 19.5%;

  @media (max-width: $mobile-width-only) {
    width: auto;
  }
}

.cart__number-of-pruducts-total{
  width: 16.8%;

  @media (max-width: $mobile-width-only) {
    width: auto;
  }
}

.cart__full-bill{
  width: 29%;
  margin-left: 30px;
}

.cart__current-items{
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0;
}

.cart__item-wrapper{
  display: flex;
  width: 35%;
  margin-right: 100px;
}

.cart__item-info p{
  margin: 0;
}

.cart__price{
  text-align: center;
  align-self: center;
  width: 7%;
}

.promocode{
  width: 100%;
  padding: 15px 30px 15px 30px;
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  border-top: 1px solid #D9D9D9;
}

.promocode__input, .promocode__button{
  width: 283px;
  height: 52px;
  border: 0;
  margin-right: 4px;
  padding: 15px;
  box-sizing: border-box;
}

.promocode__input{
  @media (max-width: $mobile-width-only) {
    width: 150px;
  }
}

.promocode__button{
  background-color: #7E5A4D;
  color: #D9D9D9;
}

.total-bill{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;

  @media (max-width: $mobile-width-only) {
    margin-left: 0;
  }

  h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-align: start;
    margin: 97px 0 10px 0;

    @media (max-width: $mobile-width-only) {
      margin-top: 50px;
    }
  }

  p{
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    margin: 0;
  }
}

.total-bill__regular-price,
.total-bill__sale,
.total-bill__finish-price{
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 443px;
  box-sizing: border-box;
  background-color: #ECECEC;
  border-bottom: 1px solid #D9D9D9;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.total-bill__finish-price{
  border: 0;
}

.total-bill__button{
  width: 285px;
  height: 52px;
  background-color: #7E5A4D;
  color: #D9D9D9;
  margin-top: 20px;

  @media (max-width: $mobile-width-only) {
    align-self: center;
    border: 0;
    margin-bottom: 20px;
  }
}
