 @import "../../../shared/variable/variable";

.product-card{
  display: flex;
  font-family: Montserrat;
  color: #1E1E1E;
}

.product-card__image{
  width: 100%;
  height: auto;
}

.product-card__images-wrapper{
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 80px 70px 30px;
  gap: 15px;
}

.product-card__new-product{
  position: relative;
  display: flex;

  &::after {
    content: "New";
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #960F0F;
    color: white;
    padding: 5px;
    z-index: 2;
    width: 60px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: PT Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }
}

.product-card__description{
  display: flex;
  width: 32%;
  flex-direction: column;
  margin: 40px 137px 0 0;
}

.product-card__tags-wrapper{
  display: flex;
  justify-content: space-between;
  color: #8E8E8E;

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0px;

    margin: 0;
  }
}

.product-card__item-and-collection{
  display: flex;

  p:first-child{
    margin-right: 8px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0;
    margin: 0;
  }
}

.product-card__title{
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;

  margin: 10px 0 20px 0;
  text-align: start;
}

.product-card__price{
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: start;

  margin: 0 0 20px 0;
}

.product-card__price--sale{
  color: red;
}

.product-card__material,
.product-card__stone,
.product-card__possible-sizes{
  display: flex;
  justify-content: space-between;

  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0;

  p{
    margin: 10px 0 10px 0;
  }

  p:first-child{
    color: $light-grey;
  }

  li{
    text-align: start;
  }
}

 .product-card__material{
   margin-bottom: 20px;
 }

 .product-card__stone{
   margin-bottom: 30px;
 }

 .product-card__possible-sizes{
   flex-direction: column;
   align-items: start;

   p{
     margin: 0 0 20px 0;
   }
 }

.product-card__possible-sizes ul{
  display: grid;
  gap: 8px;
  width: 389px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-auto-flow: column;

  margin-bottom: 50px;
}

 .product-card__possible-sizes-item{
   text-align: center;
   width: 48px;
   height: 48px;
   border-radius: 48px;
   border: 0 solid #1E1E1E;
   background-color: #3054240D;
   opacity: 0.95;
   color: #0C3612;

   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0;
 }

 .product-card__possible-sizes-item--selected{
   background-color: $brown-button;
   color: $grey-text;
   border: 1px solid #1E1E1E;
 }

 .product-card__possible-sizes-item--universal{
   width: 200px;
 }

 .product-card__add-buttons-wrapper{
   display: flex;
   width: 100%;
   border: 0;
   justify-content: space-between;
   margin-bottom: 50px;
 }

 .product-card__button--add-to-cart{
   width: 90%;
   height: 51px;
   background-color: $brown-button;
   color: #D9D9D9;
   border: inherit;

   font-weight: 400;
   font-size: 14px;
   line-height: 16.8px;
   letter-spacing: 0;
 }

 .product-card__button--add-to-favorites{
   width: 48px;
   height: 48px;
   border: inherit;
   background-color: inherit;
 }

 .product-card__text-description{
   text-align: start;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   letter-spacing: 0;
   width: 100%;
   white-space: pre-line;
   margin: 0 0 50px 0;
 }
