@font-face {
    font-family: 'Montserrat';
    src: url('<?php echo get_template_directory_uri(); ?>/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}