.products-list {
  list-style: none;
  //display: grid;
  //grid-template-columns: 1fr;
  //gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: 576px) {
    grid-template-columns: 0.5fr 0.5fr;
  }

  //@media (min-width: 800px) {
  //  grid-template-columns: 1fr 1fr 1fr;
  //}
  //
  //@media (min-width: 1200px) {
  //  grid-template-columns: 1fr 1fr 1fr 1fr;
  //}
}
