@import "../../../shared/variable/variable";

.cart__quantity-control{
  display: flex;
  width: 19.5%;
  height: 30px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    width: auto;
    margin-top: 15px;
  }
}

.cart__quantity-control-wrapper{
  width: 100px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;

  button{
    background-color: transparent;
    border: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;

  }
}

.cart__img-with-info{
  display: flex;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }
}

.cart__info-without-img{
  display: flex;
  width: 100%;
  margin-left: -117px;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  @media (max-width: $mobile-width-only) {
    margin: 0 5px 0 0;
    width: auto;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.cart-item{
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #D9D9D9;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.cart-item__img{
  width: 117px;
  height: 138px;
}

.cart-item__info{
  display: grid;
  gap: 10px;
  text-align: start;
  height: 77px;
  padding: 0 0 32px 147px;
  width: 40%;
  box-sizing: border-box;

  @media (max-width: $mobile-width-only) {
    margin: 10px 5px 0 0;
    padding: 0;
    width: auto;
    height: auto;
  }

  p{
    margin: 0;
  }
}

.cart-info__categories{
  display: flex;
  justify-content: start;
}

.cart-info__categories--title{
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.cart__current-number-of-item{
  background-color: white;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__current-number-of-item--text{
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.cart__price{
  width: 17%;
  text-align: start;

  @media (max-width: $mobile-width-only) {
    width: auto;
    display: flex;
    align-self: start;
    align-items: start;
    margin: -80px 0 0 -50px;
    justify-content: space-between;

    p{
      margin: 0;
    }
  }
}

.cart__price--title{
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.cart__total{
  width: 16.8%;
  text-align: start;

  @media (max-width: $mobile-width-only) {
    margin: 20px 5px 0 15px;
    padding: 0;
    width: auto;
    height: auto;
  }
}

.cart__button--delete{
  border: 0;
  background-color: transparent;

  @media (max-width: $mobile-width-only) {
    margin: -310px -400px 0 0;
    padding: 0;
    width: auto;
    height: auto;
  }
}
