@import "../variable/variable";

.additional-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.additional-info__wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.additional-info__title{
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  margin: 10px 0 10px 0;
  color: $black-text;
  text-align: start;
}

.additional-info__button{
  border: 0;
  background-color: transparent;
}

.additional-info__text{
  font-weight: 800;
  text-align: start;
}

.additional-info__text--hidden{
  display: none;
}