.spin {
    animation: spin 1s linear infinite;
    z-index: 2;
    bottom: -25px;
    left: 50%;
}

.spinner-hidden{
    display: none;
}

@keyframes spin {
    0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
    50% { stroke-dasharray: 90, 200; stroke-dashoffset: -35; }
    100% { stroke-dasharray: 90, 200; stroke-dashoffset: -124; }
}

.spinner{
    position: fixed;
    bottom: 50%;
    left: 50%;
    top: 50%;
}

@media (max-width: 600px) {
    .spinner{
        left: 25%;
        right: 25%;
    }

}