.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.product-item__text {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0;
  width: 100%;
  white-space: pre-line;
  text-align: center;
  margin: 5px 0 5px 0;
}

.product-item__regular-price {
  text-decoration: line-through;
  opacity: 0.5;
}

.product-item__sale-price{
  color: red;
}

.product-card__price--old{
  text-decoration: line-through;
  opacity: 0.5;
}