.productCard__image{
  width: 100%;
  height: auto;
}

.productCard-images-wrapper{
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 80px 70px 30px;
}

.new-product{
  position: relative;
  display: flex;

  &::after {
    content: "New";
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #960F0F;
    color: white;
    padding: 5px;
    z-index: 2;
    width: 60px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: PT Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }
}
